@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap')


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: hsl(212, 45%, 89%);
  padding: 20px;
}

.container {
  background: hsl(0, 0%, 100%);
  width: 350px;
  padding: 10px;
  border-radius: 15px;
}

.card {
  position: absolute;
  top: 0;
  left: 0;
}

.card-qr {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-qr img {
  width: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.card-content {
  padding: 10px;
  font-family: "Outfit", sans-serif;
}

.card-content h2 {
  margin-bottom: 1.5rem;
  font-weight: 700;
  text-align: center;
}

.card-content p {
  font-size: 15px;
  font-weight: 400;
  text-align: center;
}

@media (max-width: 375px) {
  .container {
    width: 100%;
  }
}


